<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.category %> | <strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong> | <%= restaurant.address %></li>
  <% end %>
</ul>
<hr>
<%= link_to 'Add new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
